@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;700&display=swap');
/*Comman CSS Start*/
*{margin: 0;padding: 0;box-sizing: border-box;}p{margin: 0;}
.img-responsive{width:100%; height:auto;}
/*Comman CSS End*/
html {
  scroll-behavior: smooth;
}
.zoom{
    zoom:80%;
}
/*Top to back arrow CSS Start*/
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(0,236,205,1);
    background: -moz-linear-gradient(-45deg, rgba(0,236,205,1) 0%, rgba(241,111,92,1) 0%, rgba(0,236,205,1) 0%, rgba(0,23,152,1) 99%, rgba(0,23,152,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,236,205,1)), color-stop(0%, rgba(241,111,92,1)), color-stop(0%, rgba(0,236,205,1)), color-stop(99%, rgba(0,23,152,1)), color-stop(100%, rgba(0,23,152,1)));
    background: -webkit-linear-gradient(-45deg, rgba(0,236,205,1) 0%, rgba(241,111,92,1) 0%, rgba(0,236,205,1) 0%, rgba(0,23,152,1) 99%, rgba(0,23,152,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(0,236,205,1) 0%, rgba(241,111,92,1) 0%, rgba(0,236,205,1) 0%, rgba(0,23,152,1) 99%, rgba(0,23,152,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(0,236,205,1) 0%, rgba(241,111,92,1) 0%, rgba(0,236,205,1) 0%, rgba(0,23,152,1) 99%, rgba(0,23,152,1) 100%);
    background: linear-gradient(135deg, rgba(0,236,205,1) 0%, rgba(241,111,92,1) 0%, rgba(0,236,205,1) 0%, rgba(0,23,152,1) 99%, rgba(0,23,152,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00eccd', endColorstr='#001798', GradientType=1 );
    width: 60px;
    height: 60px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 999999;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 15px;
    top: 10px;
    font-size: 30px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
   background: rgba(0,236,205,1);
    background: -moz-linear-gradient(-45deg, rgba(0,236,205,1) 0%, rgba(241,111,92,1) 0%, rgba(0,236,205,1) 0%, rgba(0,23,152,1) 99%, rgba(0,23,152,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,236,205,1)), color-stop(0%, rgba(241,111,92,1)), color-stop(0%, rgba(0,236,205,1)), color-stop(99%, rgba(0,23,152,1)), color-stop(100%, rgba(0,23,152,1)));
    background: -webkit-linear-gradient(-45deg, rgba(0,236,205,1) 0%, rgba(241,111,92,1) 0%, rgba(0,236,205,1) 0%, rgba(0,23,152,1) 99%, rgba(0,23,152,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(0,236,205,1) 0%, rgba(241,111,92,1) 0%, rgba(0,236,205,1) 0%, rgba(0,23,152,1) 99%, rgba(0,23,152,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(0,236,205,1) 0%, rgba(241,111,92,1) 0%, rgba(0,236,205,1) 0%, rgba(0,23,152,1) 99%, rgba(0,23,152,1) 100%);
    background: linear-gradient(135deg, rgba(0,236,205,1) 0%, rgba(241,111,92,1) 0%, rgba(0,236,205,1) 0%, rgba(0,23,152,1) 99%, rgba(0,23,152,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00eccd', endColorstr='#001798', GradientType=1 );
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
/*Top to back arrow CSS End*/
/*Header CSS Start*/
header{width:100%; height:auto}
header .header-top{ background-image:url(../images/header-top-bg.svg); background-size:cover; height:80px;}
.container{max-width:1450px; height:auto; margin-left:auto; margin-right:auto;}
header .menu{float:right; margin-top: 15px;}
.c-btn {
    background-color: #ff831b;
    color: #fff !important;
    border-radius: 10px;
}


.h-menu {
    position: fixed;
    top: 30%;
    right: 0;
    z-index: 99;
}
.h-menu ul{
  text-align: right;
    list-style: none;
    padding: 10px;
}
.h-menu ul li a{
  color: #58f4b7;
    text-decoration: none;
    font-size: 15px;
    line-height: 35px;
    font-weight: 600;
    position: relative;
    left: 23px;

}
.h-menu ul li a:hover {
    color: #ff831b;
    position: relative;
    left: 0px;
    transition: 500ms ease-in-out; */
    transition-duration: 1000ms;
}

 .h-menu ul li a:after {
    /* position: absolute; */
    content: '';
    border: 1px solid #333;
    width: 13px;
    display: inline-block;
    /* top: 10px; */
    transform: translateY(-4px);
    transition: all 0.2s cubic-bezier(0.42, 0.01, 0.23, 1);
    margin-left: 9px;
}

.h-menu ul li a: hover  a:after {
  display: block;
}
/*Header CSS End*/
/*Slider CSS Start*/
.slider {
    width: 100%;
    height: auto;
    padding: 60px 0px 0px 0px;
}
.right-text {
    margin-top: 110px;
}
.font-4 {
   color: #275983;
    font-size: 30px;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: bold;
    padding: 0px 20px;
    line-height: 35px;
    margin-bottom: 15px;
}
.font-20 {
    color: #979797;
    font-size: 20px;
    font-family: 'Bai Jamjuree', sans-serif;
}
.font-75-white{font-family: 'Bai Jamjuree', sans-serif; font-size:75px; padding-bottom: 65px; color:#fff; text-align: center; line-height: 75px; font-weight:bold;}
.slider-font{ font-family: 'Raleway', sans-serif; font-size:48px; color:#3b3b3b; line-height: 48px;}
.slider-font-2{ font-family: 'Raleway', sans-serif; font-size:65px; color:#3b3b3b; line-height: 70px; font-weight:bold;}
.font-65-black{ font-family: 'Bai Jamjuree', sans-serif; font-size:65px; padding-bottom: 35px; color:#3b3b3b; line-height: 70px; font-weight:bold;}
.heading-font{font-size:75px; font-weight:bold; color:#ffffff; font-family: 'Bai Jamjuree', sans-serif; text-align: center; }
.font-27-white{font-size:27px; color:#ffffff; font-family: 'Bai Jamjuree', sans-serif;}
.font-27-black{font-size:27px; color:#000; font-family: 'Bai Jamjuree', sans-serif;}
.font-25-white{font-size:25px; color:#ffffff; font-family: 'Bai Jamjuree', sans-serif;}
.font-30-white{font-size:27px; color:#ffffff; font-family: 'Bai Jamjuree', sans-serif; font-weight: bold;}
.font-36-white{font-size:36px; color:#ffffff; font-family: 'Raleway', sans-serif; padding-bottom: 35px;}
.mt-120{margin-top:60px;}
/*Slider CSS End*/
/*About CSS Start*/
.about{background-image: url(../images/about-bg-2.svg); width:100%;
    background-size: cover;
   padding: 390px 0px;
    background-position: center;}
/*About CSS End*/

.expert{background-image: url(../images/expert-bg.png); width:100%;
    background-size: cover; padding: 130px 0px; text-align:center;
}
.c-input {
    padding: 25px;
    border-radius: 25px;
    box-shadow: inset 0px 0px 5px 0px #000;
    border: none;     width: 90%;
}
::-webkit-input-placeholder { /* Edge */
  font-size: 27px; font-family: 'Bai Jamjuree', sans-serif;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-size: 27px; font-family: 'Bai Jamjuree', sans-serif;
}

::placeholder {
 font-size: 27px; font-family: 'Bai Jamjuree', sans-serif;
}
.cc-btn {
    position: relative;
    font-weight: bold;
    top: 15px;
    background-color: #133B78;
    padding: 25px 34px;
    font-size: 27px;
    border-radius: 45px; color: #02F7CA; font-family: 'Bai Jamjuree', sans-serif;
}
.cc-btn:hover {
    text-decoration: none;
    position: relative;
    top: 15px;
    background-color: #133B78;
    padding: 25px 34px;
    font-size: 27px;
    border-radius: 45px; color: #fff; font-family: 'Bai Jamjuree', sans-serif;
}
.expert-container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 15px;
    position: relative;
    z-index: 9;
}

.box {
    text-align: center;
    border-radius: 60px;
    -webkit-box-shadow: 0px 0px 115px 0px rgba(204,204,204,0.5);
    -moz-box-shadow: 0px 0px 115px 0px rgba(204,204,204,0.5);
    box-shadow: 0px 0px 115px 0px rgba(204,204,204,0.5);
    margin: 40px 20px;
}
.box:hover{
    background: rgba(0,236,205,1);
background: -moz-linear-gradient(-45deg, rgba(0,236,205,1) 0%, rgba(241,111,92,1) 0%, rgba(0,236,205,1) 0%, rgba(0,23,152,1) 99%, rgba(0,23,152,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,236,205,1)), color-stop(0%, rgba(241,111,92,1)), color-stop(0%, rgba(0,236,205,1)), color-stop(99%, rgba(0,23,152,1)), color-stop(100%, rgba(0,23,152,1)));
background: -webkit-linear-gradient(-45deg, rgba(0,236,205,1) 0%, rgba(241,111,92,1) 0%, rgba(0,236,205,1) 0%, rgba(0,23,152,1) 99%, rgba(0,23,152,1) 100%);
background: -o-linear-gradient(-45deg, rgba(0,236,205,1) 0%, rgba(241,111,92,1) 0%, rgba(0,236,205,1) 0%, rgba(0,23,152,1) 99%, rgba(0,23,152,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(0,236,205,1) 0%, rgba(241,111,92,1) 0%, rgba(0,236,205,1) 0%, rgba(0,23,152,1) 99%, rgba(0,23,152,1) 100%);
background: linear-gradient(135deg, rgba(0,236,205,1) 0%, rgba(241,111,92,1) 0%, rgba(0,236,205,1) 0%, rgba(0,23,152,1) 99%, rgba(0,23,152,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00eccd', endColorstr='#001798', GradientType=1 );
-webkit-transition: .5s;
    transition: .5s;
}
.box:hover .font-4{
    color: #00ffd0;
}
.box:hover .font-20{
    color: #ffffff;
}
.box:hover .c-icon{filter: brightness(0) invert(1);}
.box .box-contain {
   padding: 30px 12px 60px 12px;
}
.box .box-contain .c-icon {
    padding: 40px 0px 60px 0px;
}
.what-we-do {
    width: 100%;
    padding: 150px 0px;
}
.what-we-do .container{
   max-width: 1087px;
}
.our-team
{
    background-image: url(../images/our-team-bg.png); width:100%;
    background-size: cover;
   padding: 620px 0px 470px 0px;    background-position: center;
}




.why-us{width: 100%; height: auto; padding: 150px 0px;}
.why-us .why-us-circle{max-width: 900px; height: 900px; margin: 0 auto; -webkit-box-shadow: 0px 0px 115px 0px rgba(204,204,204,0.5);
    -moz-box-shadow: 0px 0px 115px 0px rgba(204,204,204,0.5);
    box-shadow: 0px 0px 115px 0px rgba(204,204,204,0.5);
    margin: 0 auto;
    text-align: center;
    border-radius: 50%; padding: 95px 140px;
    box-sizing: border-box;}
.pt-60{padding-top: 35px;}
.cc-img{width: 100%;
    max-width: 485px;}
    .c-btn-2 {
        position: relative;
    top: 40px;
    border-radius: 20px;
    padding: 20px 110px;
    font-size: 20px;
        color: #fff;
    background: rgba(0,236,205,1);
    background: -moz-linear-gradient(-45deg, rgba(0,236,205,1) 0%, rgba(241,111,92,1) 0%, rgba(0,236,205,1) 0%, rgba(0,23,152,1) 99%, rgba(0,23,152,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,236,205,1)), color-stop(0%, rgba(241,111,92,1)), color-stop(0%, rgba(0,236,205,1)), color-stop(99%, rgba(0,23,152,1)), color-stop(100%, rgba(0,23,152,1)));
    background: -webkit-linear-gradient(-45deg, rgba(0,236,205,1) 0%, rgba(241,111,92,1) 0%, rgba(0,236,205,1) 0%, rgba(0,23,152,1) 99%, rgba(0,23,152,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(0,236,205,1) 0%, rgba(241,111,92,1) 0%, rgba(0,236,205,1) 0%, rgba(0,23,152,1) 99%, rgba(0,23,152,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(0,236,205,1) 0%, rgba(241,111,92,1) 0%, rgba(0,236,205,1) 0%, rgba(0,23,152,1) 99%, rgba(0,23,152,1) 100%);
    background: linear-gradient(135deg, rgba(0,236,205,1) 0%, rgba(241,111,92,1) 0%, rgba(0,236,205,1) 0%, rgba(0,23,152,1) 99%, rgba(0,23,152,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00eccd', endColorstr='#001798', GradientType=1 );
}
.footer ul li {list-style: none; padding-bottom: 17px;}
.footer-font{font-size: 24px; color: #ffffff; font-family: 'Bai Jamjuree', sans-serif;}
.footer-font:hover {
    color: #00f9f6;
    text-decoration: none;
}
.c-btn-2:hover{
    color: #00f9f6;
    text-decoration: none;
}
.footer-icon{    width: 65px;
    height: 65px;
    background-color: #fff;
    color: #00bcc0;
    border-radius: 50%;
    font-size: 25px;
    padding: 18px;
    text-align: center;}
footer {
    background-image: url(../images/footer-bg.png);
    width: 100%;
    background-size: cover;
  position: relative;
    z-index: 9;
    background-position: center;
}
footer .c-footer {
    padding: 450px 0px 150px 0px;
}
.footer-address div {
    float: left;
}
.location-icon{
    background-color: transparent;
    color: #fff;
    font-size: 65px;
    padding: 0px;
}
.location-icon2{
     background-color: transparent;
    color: #fff;
font-size: 43px;
    width: 43px;
    padding: 0px;
}
.footer-font-gray{
    font-size: 27px;
    text-align: right;
    color: #a8a7a7; margin-top: 15px;
}
.footer-bottom {
    padding: 35px;
    background-color: #fff;
    border-radius: 50px 50px 0px 0px;
}
.c-btn:hover {
    background-color: #ff6d1b !important;
}

.footer-contact .footer-contact-round {
    max-width: 1100px;
    height: 1100px;
    margin: 0 auto;
    background: rgba(0,236,205,1);
    background: -moz-linear-gradient(-45deg, rgba(0,236,205,1) 0%, rgba(241,111,92,1) 0%, rgba(0,236,205,1) 0%, rgba(0,23,152,1) 99%, rgba(0,23,152,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,236,205,1)), color-stop(0%, rgba(241,111,92,1)), color-stop(0%, rgba(0,236,205,1)), color-stop(99%, rgba(0,23,152,1)), color-stop(100%, rgba(0,23,152,1)));
    background: -webkit-linear-gradient(-45deg, rgba(0,236,205,1) 0%, rgba(241,111,92,1) 0%, rgba(0,236,205,1) 0%, rgba(0,23,152,1) 99%, rgba(0,23,152,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(0,236,205,1) 0%, rgba(241,111,92,1) 0%, rgba(0,236,205,1) 0%, rgba(0,23,152,1) 99%, rgba(0,23,152,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(0,236,205,1) 0%, rgba(241,111,92,1) 0%, rgba(0,236,205,1) 0%, rgba(0,23,152,1) 99%, rgba(0,23,152,1) 100%);
    background: linear-gradient(135deg, rgba(77,36,140,1) 0%, rgba(77,36,140,1) 0%, rgba(77,36,140,1) 0%, rgba(64,225,233,1) 99%, rgba(70,227,236,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00eccd', endColorstr='#001798', GradientType=1 );
    margin: 0 auto;
    text-align: center;
    border-radius: 50%;
    padding: 110px 200px; 
    box-sizing: border-box;
    position: relative;
    top: 400px;
   
}
.c-text{
   background-color: #f0f0f0;
    border: none;
    padding: 37px 30px;
    border-radius: 30px 30px 0px 0px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(204,204,204,1);
    -moz-box-shadow: 0px 0px 30px 0px rgba(204,204,204,1);
    box-shadow: 0px 0px 30px 0px rgba(204,204,204,1);
}
.c-text-top{
    position: relative;
    top: -25px;
}
.c-text-area
{
     position: relative;
    top: -50px;
    border: none;
    border-radius: 30px;
    padding: 15px 30px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(204,204,204,1);
    -moz-box-shadow: 0px 0px 30px 0px rgba(204,204,204,1);
    box-shadow: 0px 0px 30px 0px rgba(204,204,204,1);
}
.contact-btn
{
        font-size: 35px;
    color: #fff;
    background-color: #0757d0;
    font-family: 'Bai Jamjuree', sans-serif;
    padding: 10px 150px;
    border-radius: 10px;
    text-decoration: none;
    position: relative;
    z-index: 99;
    }
    .contact-btn:hover
{
        font-size: 35px;
    color: #fff;
    background-color: #0732b7;
    font-family: 'Bai Jamjuree', sans-serif;
    padding: 10px 150px;
    border-radius: 10px;
    text-decoration: none;
    position: relative;
    z-index: 999;
    }

    .agile{
        width: 100%;
        height: auto;
        position: relative;
    top: 200px;
    }
    .agile img{
        max-width: 680px;
        width: 100%;
    }
    .font-gray-33{
        font-size: 33px;
        font-family: 'Bai Jamjuree', sans-serif;
        text-align: center;
        color: #7d7c7c;
        padding-top: 25px;
    }

    .client-say{
            background-image: url(../images/client-say-bg.png);
    width: 100%;
    background-size: cover;
    padding: 370px 0px;
    background-position: center;     overflow: hidden;
    }
    .app-font-1{
        font-size: 35px;
        font-family: 'Bai Jamjuree', sans-serif;
        text-align: center;
        color: #275983;
        padding-top: 25px;
        font-weight: bold;
    }
    .app-font-2{
        font-size: 22px;
        font-family: 'Bai Jamjuree', sans-serif;
        text-align: center;
        color: #4a4a4a;
        
    }
    .app-font-3{
        font-size: 27px;
        font-family: 'Bai Jamjuree', sans-serif;
        text-align: center;
        color: #979797;
        padding-top: 10px;

    }
    .app-content img{
        -webkit-box-shadow: 0px 0px 115px 0px rgba(204,204,204,0.5);
    -moz-box-shadow: 0px 0px 115px 0px rgba(204,204,204,0.5);
    box-shadow: 0px 0px 115px 0px rgba(204,204,204,0.5);
    border-radius: 50%;
    }
    .app-box:nth-child(4) .app-content img {
    width: 70%;
}
.app-box:nth-child(4) .app-content .app-font-1{
    font-size: 19px;
    font-weight: bold;
}
.app-box:nth-child(4) .app-content .app-font-2{
   font-size: 15px;
   
}
.app-box:nth-child(4) .app-content .app-font-3{
   font-size: 17px;
   
}


.app-box:nth-child(2) .app-content img {
    width: 70%;
}
.app-box:nth-child(2) .app-content .app-font-1{
    font-size: 19px;
    font-weight: bold;
}
.app-box:nth-child(2) .app-content .app-font-2{
   font-size: 15px;
   
}
.app-box:nth-child(2) .app-content .app-font-3{
   font-size: 17px;
   
}


 .app-box:nth-child(5) .app-content img {
    width: 50%;
}
.app-box:nth-child(5) .app-content .app-font-1{
    font-size: 17px;
    font-weight: bold;
}
.app-box:nth-child(5) .app-content .app-font-2{
   font-size: 13px;
   
}
.app-box:nth-child(5) .app-content .app-font-3{
   font-size: 12px;
   
}



.app-box:nth-child(1) .app-content img {
    width: 50%;
}
.app-box:nth-child(1) .app-content .app-font-1{
    font-size: 17px;
    font-weight: bold;
}
.app-box:nth-child(1) .app-content .app-font-2{
   font-size: 13px;
   
}
.app-box:nth-child(1) .app-content .app-font-3{
   font-size: 12px;
   
}
.c-btn-3 {
    font-weight: bold;
    position: relative;
    top: 20px;
    border-radius: 20px;
    padding: 10px 40px;
    font-size: 20px;
    color: #fff;
    font-family: 'Bai Jamjuree', sans-serif;
    background: rgba(0,236,205,1);
    background: -moz-linear-gradient(-45deg, rgba(0,236,205,1) 0%, rgba(241,111,92,1) 0%, rgba(0,236,205,1) 0%, rgba(0,23,152,1) 99%, rgba(0,23,152,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,236,205,1)), color-stop(0%, rgba(241,111,92,1)), color-stop(0%, rgba(0,236,205,1)), color-stop(99%, rgba(0,23,152,1)), color-stop(100%, rgba(0,23,152,1)));
    background: -webkit-linear-gradient(-45deg, rgba(0,236,205,1) 0%, rgba(241,111,92,1) 0%, rgba(0,236,205,1) 0%, rgba(0,23,152,1) 99%, rgba(0,23,152,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(0,236,205,1) 0%, rgba(241,111,92,1) 0%, rgba(0,236,205,1) 0%, rgba(0,23,152,1) 99%, rgba(0,23,152,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(0,236,205,1) 0%, rgba(241,111,92,1) 0%, rgba(0,236,205,1) 0%, rgba(0,23,152,1) 99%, rgba(0,23,152,1) 100%);
    background: linear-gradient(135deg, rgba(0,236,205,1) 0%, rgba(241,111,92,1) 0%, rgba(0,236,205,1) 0%, rgba(0,23,152,1) 99%, rgba(0,23,152,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00eccd', endColorstr='#001798', GradientType=1 );
}
.box:hover .c-btn-3{
    background: white;
    color: #00ffd0;
    text-decoration: none;
}



@media (max-width: 1920px)  { 
    .zoom {
        zoom: 100%;
    }
    .our-team {
       padding: 500px 0px 300px 0px;
       background-size: 100% 100%; 
    }
    .client-say {
    
    background-size: 100% 100%;
    }
}
@media (max-width: 1600px) {  }
@media (max-width: 1400px) { 
 .zoom {
        zoom: 80%;
    } }
@media (max-width: 1200px) { 
    .c-btn-2 {
       
        padding: 20px 90px;
    }
    .slider-font {
    
    font-size: 45px;
    }
    .slider-font-2 {
    
    font-size: 60px;
    }
    .about {
   
    padding: 310px 0px;
    
    }
    .app-box {
    /* margin: -1.5rem; */
    width: 550px;
    height: 550px;
}
.app-font-3 {
    font-size: 18px;
    }
    .app-box {
    /* margin: -1.5rem; */
    width: 500px !important;
    height: 500px !important;
}
.app-img {
    width: 65%;
}
.app-box:nth-child(2) {
    left: 9%;
    width: 400px !important;
    height: 400px !important;
    padding: 90px;
}
.app-box:nth-child(4) {
    left: -9%;
    width: 385px !important;
    height: 385px !important;
    padding: 90px;
}
.app-box:nth-child(1) {
    left: 19%;
    width: 280px !important;
    height: 280px !important;
    }
.app-box:nth-child(5) {
    left: 19%;
    width: 280px !important;
    height: 280px !important;
    }
    .app-font-1 {
    font-size: 30px;
}
.footer-font {
    font-size: 20px;
    }
    .cards-wrapper {
  
    width: 880px !important;
}
 }

@media (min-width: 992px) and (max-width: 1199.98px) { 
.slider-font {
    font-size: 38px;
}
.slider-font-2 {
    font-size: 50px;
}
.what-we-do {
    width: 100%;
    padding: 50px 0px;
}

.cards-wrapper {
  
    width: 880px !important;
}
.app-box {
    /* margin: -1.5rem; */
   
    padding: 0px 80px !important;
}

.app-box:nth-child(2) .app-content .app-font-3 {
    font-size: 17px;
    line-height: 20px;
}
.app-box:nth-child(2) {
    left: 9%;
    width: 350px !important;
    height: 350px !important;
     padding: 0px 60px !important;
}
.app-box:nth-child(4) {
    left: -9%;
    width: 350px !important;
    height: 350px !important;
     padding: 0px 60px !important;
}
.app-box:nth-child(4) .app-content .app-font-3 {
    font-size: 17px;
    line-height: 20px;
}
.app-font-1 {
    font-size: 22px !important;
}

 .app-box {
    /* margin: -1.5rem; */
    width: 550px;
    height: 550px;
}
.app-font-3 {
    font-size: 18px;
    }
    .app-box {
    /* margin: -1.5rem; */
    width: 400px !important;
    height: 400px !important;
     padding: 0px 85px !important;
}
.app-img {
    width: 50%;
}


.app-box:nth-child(1) {
    left: 19%;
    width: 230px !important;
    height: 230px !important;
    }
.app-box:nth-child(5) {
    left: 19%;
    width: 300px !important;
    height: 300px !important;
    padding: 0px 50px !important;
}
.app-box:nth-child(5) .app-content .app-font-3 {
    font-size: 13px;
    line-height: 14px;
}
.app-box:nth-child(1) {
    left: 19%;
    width: 300px !important;
    height: 300px !important;
    padding: 0px 50px !important;
}
.app-box:nth-child(1) .app-content .app-font-3 {
    font-size: 13px;
    line-height: 14px;
}
   .app-font-1 {
    font-size: 25px !important;
}
.app-box:nth-child(1) .app-content img {
    width: 50%;
}
.app-box:nth-child(2) .app-content img {
    width: 50%;
}
.app-box:nth-child(3) .app-content img {
    width: 50%;
}
.app-box:nth-child(4) .app-content img {
    width: 50%;
}
.app-box:nth-child(5) .app-content img {
    width: 50%;
}
.footer-contact .footer-contact-round {
    max-width: 900px;
    height: 900px;
    }
    .font-75-white {
   
    font-size: 50px;
    padding-bottom: 20px;
    line-height: 55px;
    
    }
    .font-27-white {
    font-size: 20px;
}
.contact-btn {
    font-size: 23px;
   
    padding: 10px 85px;
    
}
.c-text {
    
    padding: 30px 30px;
    }
    .footer-font {
    font-size: 15px;
}
.c-btn-2 {
    padding: 20px 50px;
}
.right-text {
    margin-top: 30px;
}
 }


@media (min-width: 768px) and (max-width: 991.98px) { 
.right-text {
    margin-top: 110px;
    text-align: center;
}
.about {
    background-image: url(../images/about-bg.png);
  
}
.app-box:nth-child(1) {
    left: 25% !important;
    }
    .app-box:nth-child(5) {
    left: -25% !important;
}
.app-box:nth-child(2) .app-content img {
    width: 50% !important;
}
.app-box:nth-child(4) .app-content img {
    width: 50% !important;
}
.h-menu{ display: none !important;
    }
    .footer-contact .footer-contact-round {
    max-width: 790px;
    height: 790px;
    padding: 31px 140px;
}
.font-75-white {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 50px;
    padding-bottom: 10px;

    }
    .contact-btn {
    font-size: 24px;
    color: #fff;
    background-color: #0757d0;
    font-family: 'Bai Jamjuree', sans-serif;
    padding: 10px 50px;
    border-radius: 10px;
    text-decoration: none;
    position: relative;
    z-index: 999;
    position: relative;
    top: -30px;
}

 }



@media (min-width: 576px) and (max-width: 767.98px) {
    .c-btn {
    color: #666666 !important;
}
.right-text {
    margin-top: 45px;
    text-align: center;
}
.about {
    background-image: url(../images/about-bg.png);
    }
    .why-us .why-us-circle {
    max-width: 570px;
    height: 570px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 115px 0px rgba(204,204,204,0.5);
    -moz-box-shadow: 0px 0px 115px 0px rgba(204,204,204,0.5);
    box-shadow: 0px 0px 115px 0px rgba(204,204,204,0.5);
    margin: 0 auto;
    text-align: center;
    border-radius: 50%;
    padding: 30px 55px;
}
.font-65-black {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 50px;
    padding-bottom: 10px;
    }
    .cc-img {
    width: 100%;
    max-width: 235px;
}
.font-27-black {
    font-size: 20px;
    }
    .font-75-white {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 40px;
}
.heading-font {
    font-size: 40px;
    }
    .cards-wrapper {
    width: 430px !important;
}
.h-menu {
    display: none !important;
}
.app-box:nth-child(2) {
    left: 20% !important;
    }
    .app-box:nth-child(4) {
    left: -20% !important;
    }
    .app-box:nth-child(1) {
    left: 35% !important;
}
.app-box:nth-child(5) {
    left: -35% !important;
}
.footer-contact .footer-contact-round {
    max-width: 570px;
    height: 570px;
   padding: 100px 24px;
    }
    .font-75-white{
        padding-bottom: 10px !important;
    }
    .c-form {
    display: none;
}
.footer-bottom div {
    text-align: center;
}
.footer-bottom div p{
    text-align: center;
}
 }


@media (max-width: 575.98px) { 
    .c-btn {
    color: #666666 !important;
}
.h-menu{
    display: none !important;
 }
 .slider-font {
    font-size: 35px;
}
.slider-font-2 {
    font-size: 45px;
}
.c-btn-2 {
    padding: 15px 40px;
}
.about {
    background-image: url(../images/about-bg.png);
    width: 100%;
    background-size: cover;
    padding: 390px 0px;
    background-position: center;
}
.heading-font {
    font-size: 55px;
    }
    .font-65-black {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 50px;
    padding-bottom: 15px;
}
.why-us .why-us-circle {
    max-width: 350px;
    height: 350px;
    padding: 40px;

    }
    .cc-img {
    width: 95%;
}
.our-team {
    padding: 383px 0px 190px 0px;
    background-size: cover;
}


    .why-us-circle .font-27-black {
    display: none;
}
.font-75-white {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 58px;
    padding-bottom: 25px;
    }
    .ms-staff-carousel {
   
    padding-top: 45px;
}
.app-box {
    /* margin: -1.5rem; */
    width: 350px !important;
    height: 350px !important;
}
.app-font-1 {
    font-size: 25px;
}
.app-box {
    /* margin: -1.5rem; */
   
    padding: 0px 45px !important;
    /* transition: 1s all; */
}
.app-img {
    width: 50%;
}
.app-font-3 {
    font-size: 14px;
}

.app-box:nth-child(2) {
    left: 9%;
    width: 320px !important;
    height: 320px !important;
    padding: 90px;
}
.app-box:nth-child(2) {
    left: 19% !important;
}
.app-box:nth-child(4){
 left: -19% !important;
 width: 320px !important;
    height: 320px !important;
    padding: 90px;
}
.client-say {
    background-size: cover;
}
.cards-wrapper {
    width: 300px !important;
}
.footer-contact .footer-contact-round {
   max-width: 350px;
    height: 350px; top: 350px;
    }
    .footer-contact .footer-contact-round{
      padding: 100px 10px;
    }
    .footer-contact .font-75-white{
       font-size: 45px;     padding-bottom: 0px;
    }
    .footer-contact .font-27-white{
        display: none;
    }
    .c-form {
    display: none !important;
}
.contact-btn {
    font-size: 18px;
    color: #fff;
    background-color: #0757d0;
    font-family: 'Bai Jamjuree', sans-serif;
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
    position: relative;
    z-index: 999;
}
.footer-font-gray {
    font-size: 23px;
    }
    .why-us {
    width: 100%;
    height: auto;
    padding: 150px 0px 0px 0px;
}
footer .c-footer {
    padding: 450px 0px 0px 0px;
}
.what-we-do {
    width: 100%;
    padding: 0px 0px;
}
.right-text {
    margin-top: 20px;
    text-align: center;
}
.footer-bottom {
    text-align: center;
    /* text-align: center; */
}
.footer-bottom p{
    text-align: center;
    /* text-align: center; */
}
.app-box:nth-child(1) {
    left: 40% !important;
    width: 280px !important;
    height: 280px !important;
}
.app-box:nth-child(2) {
    left: 20% !important;
}
.app-box:nth-child(2) .app-content img {
    width: 50%;
}
.app-box:nth-child(4) {
    left: -20% !important;
}
.app-box:nth-child(4) .app-content img {
    width: 50%;
}
.app-font-3 {
   
    padding-top: 0px;
}
.app-font-1 {
   
    padding-top: 0px;
   
}
.app-box {
    /* margin: -1.5rem; */
    padding: 0px 50px !important;
    /* transition: 1s all; */
}
.app-box:nth-child(5) {
    left: -40% !important;
    }
}









